
* { margin:0; padding:0; } /* to remove the top and left whitespace */

html, body { width:100%; height:100%; } /* just to be sure these are full screen*/

canvas { display:block; } /* To remove the scrollbars */

#map {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: grey;
}

.link{
  position: absolute;
  padding: 10px;
  bottom: 30px;
  left: 30px;
  z-index:2;
  background: white;
}
